*{
    margin:0;
}
header {
    background: url(images/donation1.jpg)no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 700px;
    position:relative;
}
.header-content{
    position:absolute;
    padding: 20px;
    text-align: center;
    top:50%;
    left:40%;
    color:white;
    font-weight: 700;
    
}
 button{
    background-color: rgb(237, 103, 103);
    padding:10px 20px;
    color:white;
    cursor: pointer;
    border-radius: 10px;
}
section{
    margin:30px;
    padding:100px;
    text-align: center;
}
.taka-select{
    display:flex;
    flex-direction: row;
    margin:auto;
    padding:10px 400px;
    
}
.amout-section{
    background-color: burlywood;
}
.taka{
    background: rgb(243, 231, 231);
    margin:5px;
    padding:20px 20px;
    font-weight: 600;
    height: 50px;
    width:100px;
}
.tkslc{
    background-color: rgb(237, 178, 102);
    border:2px solid red;
}

input{border:none;
padding: 10px;}
hr{
    width:50%;
    margin:10px auto;
}
.card-part{
    display: flex;
    margin:auto;
    text-align: center;
    align-items: center;
}
.card{
    width:200px;
    margin:20px;
    padding: 10px;
}
.card1{
    background-color: burlywood;
    box-shadow: 2px 3px 4px rgb(0,0,0,0.5);
}
.card2{
    background-color: rgb(178, 159, 134);
    box-shadow: 2px 3px 4px rgb(0,0,0,0.5);
}
.card3{
    background-color: rgb(75, 203, 223);
    box-shadow: 2px 3px 4px rgb(0,0,0,0.5);
}
.card-part img{
    width:30px;
    height: 50px;
}

.update-section{
    background-color: burlywood;
}
.update{
    width:700px;
    height: 100px;
    background-color: rgb(250, 250, 179);
    margin: 100px auto;
}
.update input{
    margin:40px;
}
footer{
    height:100px;
    width:95%;
    margin:0 auto;
    background-color: black;
    color:whitesmoke;
    padding: 20px;
    text-align: center;
}
